.header
  .header__text
    WORKER
  = link_to edit_user_path(current_user) do
    <i class="fas fa-cog"></i>
  = link_to destroy_user_session_path, method: :delete do
    <i class="fas fa-sign-out-alt"></i>
.main
  .index_header
    %ul 
      %li.list_index
        会社一覧
      %li.list_new
        -# = link_to new_company_path
        %a(href="/corporations/new")
          登録
  = render @corporation
  