.header
  .header__text
    WORKER
  = link_to edit_user_path(current_user) do
    <i class="fas fa-cog"></i>
  = link_to destroy_user_session_path, method: :delete do
    <i class="fas fa-sign-out-alt"></i>
.main
  .index_header
    %ul 
      %li.list_index
        ネットリーフ株式会社
      %li.list_new
        %a(href="/projects/new")
          新規登録
  %ul.tab-group
    %li.tab.is-active 案件一覧
    %li.tab メッセージ

  .panel-group
    .panel.is-show 
      .index
        .index__btn
          %a(href="/projects/show")
            .index__btn--text
              = project.name(@project.id)
    .panel ここでチャットしたい