.new__search{
  text-align: center;
  &__text{
    font-size: 20px;
  }
  &__form--box{
    width: 70%;
  }
  &__content__form--area{
    width: 70%;
    resize: none;
    height:200px;
  }
  &__submit{
    padding-top: 20px;

    &__btn{
    background: $yellow;
    height: 50px;
    width: 70%;
    font-size: 20px;
    font-family: $main_font;
    border-radius: 5px;
    line-height: 50px;
    color: blue;
    display: block;
    margin: 0 auto;


    }
  }
}

@media screen and (max-width: 1000px){
  .new__search{
    &__text{
      font-size: 50px;
    }
    &__form--box{
      width: 70%;
      height: 60px;
      margin-top: 20px;
    }
    &__content__form--area{
      width: 70%;
      resize: none;
      height:500px;
      font-size: 30px;
      line-height: 40px;
    }
    &__submit{
      padding-top: 20px;
  
      &__btn{
      border-radius: 20px;
      line-height: 120px;
      height: 120px;
      width: 70%;
      font-size: 50px;
      border-radius: 20px;
      margin: 30px auto;
      }
    }
  }


}
